## Use Conditional Statements and Loops Together

Create a For loop that will print all the variables from a given list multiplied by 2. Let the list contain all numbers from 1 to 10. Create it with the help of the range() function.

In [12]:

for a in range(1,11):
    a=a*2
    print (a)

2
4
6
8
10
12
14
16
18
20

Create a little program that runs a loop over all values from 1 to 30. Let it print all Odd numbers, and in the place of the even numbers, it should print "Even".
Help yourself with the range() function to solve this exercise.

In [22]:
for a in range(1,31):
    if a%2==0:
        print("even", a)
    else:
        print("odd",a)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10
odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19
even 20
odd 21
even 22
odd 23
even 24
odd 25
even 26
odd 27
even 28
odd 29
even 30

You have the following list of numbers. Iterate over this list, printing out each list value multiplied by 10.
Find two solutions of this problem.

In [29]:
n = [1,2,3,4,5,6]

In [30]:
for a in n:
    print(a*10,end=" ")

10 20 30 40 50 60